.blazonry {
  text-align: center;
  max-width: 186px;
}

.imageWrapper {
  position: relative;
}

.image {
  margin-bottom: 35px;
  object-fit: cover;
}

.title {
  color: #ccc;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1;
}

.imageWrapper {
  position: relative;
}
