.galleryRow {
  padding-top: 63px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 188px;
  grid-gap: 16px;
}

.galleryImage {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &[data-fancybox] {
    cursor: zoom-in;
    transition: opacity ease 0.2s;

    &:hover {
      opacity: 0.75;
    }

    &:active {
      opacity: 0.45;
    }
  }
}

@media (max-width: 1030px) {
  .galleryRow {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 770px) {
  .galleryRow {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 230px;
  }
}

@media (max-width: 410px) {
  .galleryRow {
    padding-top: 32px;
    grid-template-columns: 1fr;
    grid-auto-rows: 192px;
  }
}
