html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a2c2f;
  color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

:root {
  --default-mw: 1215px;
  --md-ww: 985px;
}

.container {
  max-width: var(--default-mw);
  margin: 0 auto;
  padding: 0 15px;

  &-md {
    max-width: var(--md-ww);
  }
}

input,
textarea,
button,
a {
  font: inherit;
  color: inherit;
}

main {
  flex-grow: 1;
  margin-bottom: 160px;
  overflow-x: hidden;

  @media (max-width: 1030px) {
    margin-bottom: 104px;
  }

  @media (max-width: 420px) {
    margin-bottom: 48px;
  }

  @media (max-width: 320px) {
    margin-bottom: 64px;
  }
}
