.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 16px;
  margin-bottom: 60px;
}

.title {
  font-size: 72px;
  font-weight: 900;
  line-height: 0.9;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 16px;
  line-height: 1.7;
}

.linkText {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.4px;
}

.linkUrl {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: opacity ease 0.1s;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.45;
  }
}

.placeRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 24px;
}

.placeDescr {
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
  }

  p:not(:last-child) {
    margin-bottom: 36px;
  }
}

.placeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1030px) {
  .header {
    margin-bottom: 40px;
  }

  .header,
  .placeRow {
    grid-column-gap: 32px;
  }

  .placeDescr {
    p:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

@media (max-width: 770px) {
  .title {
    font-size: 42px;
    line-height: 1.1;
  }

  .placeDescr {
    p {
      font-size: 16px;
    }
  }

  .header,
  .placeRow {
    grid-column-gap: 28px;
  }

  .placeImage {
    height: 340px;
  }
}

@media (max-width: 620px) {
  .header,
  .placeRow {
    grid-template-columns: 1fr;
  }

  .placeImage {
    height: 375px;
  }

  .title {
    font-size: 32px;
  }

  .link {
    row-gap: 0;
  }
}

@media (max-width: 410px) {
  .placeImage {
    height: 320px;
  }

  .placeDescr {
    p {
      font-size: 18px;
    }
  }

  .header {
    margin-bottom: 32px;
  }
}
