.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  margin-bottom: 60px;
}

.title {
  font-size: 72px;
  font-weight: 900;
  line-height: 0.9;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 16px;
  line-height: 1.7;
}

.linkText {
  color: #aaa;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2.4px;
}

.linkUrl {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  transition: opacity ease 0.1s;

  &:hover {
    opacity: 0.75;
  }

  &:active {
    opacity: 0.45;
  }
}

.placeRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
}

.placeDescr {
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7;
  }

  p:not(:last-child) {
    margin-bottom: 36px;
  }
}
