.videosRow {
  padding-top: 102px;
}

.header {
  margin-bottom: 72px;
  max-width: 745px;
}

.videosLine {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 323px;
  grid-gap: 18px;
}
