.blazonriesRow {
  padding-top: 82px;
}

.header {
  max-width: 443px;
  margin-bottom: 82px;
}

.blazonriesLine {
  display: flex;
  gap: 51px;
  flex-wrap: wrap;
}

@media (max-width: 770px) {
  .header {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 520px) {
  .header {
    text-align: center;
    margin-bottom: 32px;
  }

  .blazonriesLine {
    justify-content: center;
  }
}
